extends ./layout/index
block slider 
    .slider
        h1 Rio de Janeiro 
        em aventura 

block content
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6 
                p Accumsan auctaoreet semper condsuscipit semper tempus, etiam magna fringilla sagittis dis netus iaculis. Quisque congue vestibulum natoque pretium scelerisque cras, morbi sem nascetur facilisi elementum nostra consequat, magna aliquet magnis mi sagittis
                p tisemper condacilisis orbi inteagna fringilla sagittis dis netus iaculis. Quisque congue vestibulum natoque pretium scelerisque cras, morbi sem nascetur facilisi elementum nostra consequat, magna aliquet magnis mi sagittis
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros",class="img-fluid")
        include ./layout/bloque_viaje
    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 % de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2.500 USD
    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
        
