extends ./layout/index
block content
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros",class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Pellentesque lacus lacus. Nunc sit amet metus sed elit suscipit ultrices. Pellentesque placerat ultrices lacus et vehicula. Nunc consequat lorem eu ligula dictum, ut semper ante finibus. Nunc tristique porttitor sollicitudin. Duis arcu sapien, pellentesque ut est ac, pretium lacinia ligula. Praesent in ligula vitae dolor pulvinar consectetur id non erat.

                p Vestibulum semper ante nec dolor interdum, et mollis orci consectetur. Sed eleifend lorem ut porta eleifend. Nam congue tempus sodales. Donec molestie sapien non ligula egestas ultricies. Proin maximus facilisis nisi quis venenatis. Aliquam volutpat ut erat ac vestibulum. Suspendisse tincidunt a mauris porta accumsan. Nulla sollicitudin non turpis gravida ullamcorper. Nulla eget consequat elit, non dignissim turpis.

                p Nunc mattis pharetra sem. Mauris porttitor mauris lorem, sed interdum nulla placerat vel. Cras faucibus elit scelerisque mauris volutpat, eget pharetra orci placerat. Etiam id nulla ut eros dapibus hendrerit. Phasellus auctor volutpat est, sit amet sagittis mi. Quisque vitae congue urna. Cras convallis luctus tortor, et pretium neque auctor bibendum. Phasellus interdum eros nec consequat venenatis. Etiam non ornare sem.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Pellentesque lacus lacus. Nunc sit ametentesque placerat ultrices lacus et vehicula. Nunc consequat lorem eu ligula dictum, ut semper ante finibus. Nunc tristique porttitor sollicitudin. Duis arcu sapien, pellentesque ut
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque lacus lacus. Nunc sit ametentesque placerat ultrices lacus et vehicula. Nunc consequat lorem eu ligula dictum, ut semper ante finibus. Nunc tristique porttitor sollicitudin. Duis arcu sapien, pellentesque ut
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Pellentesque lacus lacus. Nunc sit ametentesque placerat ultrices lacus et vehicula. Nunc consequat lorem eu ligula dictum, ut semper ante finibus. Nunc tristique porttitor sollicitudin. Duis arcu sapien, pellentesque ut